html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.top-bar {
    width: 100%;
    height: 8%;
    background: #212529;
    justify-content: center;
    display: flex;
    align-items: center;
}