- var style_path = "/css/style_index.css";
- var style_common_path = "/css/style_common.css";

doctype html
html
  head
    title Shop main page
    link(rel="stylesheet" href=style_path)
    link(rel="stylesheet" href=style_common_path)
  body
    div(class='top-bar')
        div(class='sign') Test
        button(class='cart')
    div(class='main-part')

